#projects-introduction {
    width: 100%;
    height: 300px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold {
    font-family: "IBM Flex Mono Bold";
    font-size: 30px;
}

.semi-bold {
    font-family: "IBM Flex Mono Semi Bold";
    font-size: 28px;
}
.project-category-header {
    font-family: "IBM Flex Mono Semi Bold";
    font-size: 28px;
    padding: 20px;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 0px;
    padding: 0px;
}
.project-item {
    background-color: rgb(204, 204, 204);
    aspect-ratio: 1/1;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out, z-index 0s;
    z-index: 0;
    position: relative;
}
.project-item:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    z-index: 1;
    cursor: pointer;
}
.project-text-container {
    width: 100%;
    height: 50%;
    padding: 0% 5% 2% 5%;
    position: relative;
    background-color: white;
    transition: transform 0.3s;
    /* transform: translate(0px, -20%); */
}
.project-item:hover .project-text-container {
    transform: translate(0px, -80%);
}
.project-text-container h2 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-text-container span {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: top;
    justify-content: center;
}
.project-text-container p {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
}
.project-image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}
.project-item:hover .project-image-container {
    transform: translate(0px, -30%);
}
.project-item-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
    font-size: 30px;
    color: #fff;
    /* font-family: "IBM Flex Mono Bold"; */
    background-color: black;
    z-index: 2;
    text-align: center;
}
.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.4s ease-in-out;
}
#popup-overlay-closed {
    background-color: rgba(0, 0, 0, 0);
}
#popup-overlay-open {
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
    position: relative;
    background-color: #fff;
    overflow: auto;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
#popup-content-open {
    opacity: 100;
    width: 80%;
    height: 80%;
}
#popup-content-closed {
    opacity: 0;
    width: 60%;
    height: 60%;
}
#popup-image-div-closed {
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
#popup-image-div-open {
    height: 40%;
    opacity: 100;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.popup-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}
.centered-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
    /* font-family: "IBM Flex Mono Bold"; */
    background-color: black;
}
.trigger-image {
    cursor: pointer;
}
.popup-content p {
    margin: 5%;
    font-size: 30px;
}
.date-text {
    font-size: 18px;
}
.popup-icon {
    margin: 15px 0px 15px 0px;
    cursor: pointer;
}