#description-box {
    background-color:rgb(208, 216, 255);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#about-me-header {
    color: #001AA4;
    font-family: 'IBM Flex Mono Regular';
    font-size: 28px;
    margin-bottom: 5%;
}
#about-me-description {
    font-size: 28px;
}
#left-box {
    padding-right:2%;
    flex: 10;
}
.vertical-line {
    width: 1px;
    height: 200px;
    background-color: black;
}
#right-box {
    flex: 30;
    padding-left: 4%;

}
#personal-description {
    font-size: 25px;
    font-family: 'IBM Flex Mono Regular';
}

#timeline-section {
    background-color:rgb(255, 255, 255);
    height: 800px;
    position: relative;
    display: flex;
}
#timeline-section img {
    height: 100%;
    object-fit: contain;
}
.timeline-line {
    width: 2px;
    height: 100%;
    background-color: black;
    padding: 0px;
}
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    padding: 0px;
}
#timeline-container h2 {
    text-align: center;
    padding-top: 4%;
    font-size: 30px;
}
.timeline-grid {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 99fr;
    grid-template-rows: 1fr 4fr 1fr 6fr 1fr;
    gap: 0px;
    margin: 5%;
    grid-gap: 0px 10px;
}
.timeline-grid div {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline-grid p {
    font-size: 25px;
}
.regular {
    font-family: 'IBM Flex Mono Regular';
}