#course-grid {
    margin: 100px;
}
.course-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.course-row:hover {
    cursor: pointer;
}
.hover-shadow:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.course-item {
    background-color: rgb(255, 255, 255);
    /* aspect-ratio: 5/1; */
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.name {
    justify-content: left;
    width: 100%;
}
.grade {
    justify-content: right;
    width: 100%;
}
.ects {
    justify-content: right;
    width: 100%;
}
.semester {
    justify-content: right;
    width: 100%;
}

@media only screen and (max-width: 420px) {
    #course-grid {
        margin: 0;
    }
}