#course-grid {
    margin: 100px;
}
.course-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    padding: 10px 20px;
}
.course-row:first-child {
    font-weight: 600;
    font-size: 1.25rem;
}
.course-row:is(div):hover {
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.course-item:is(.ects, .semester) {
    text-align: right;
}

@media only screen and (max-width: 430px) {
    #course-grid {
        margin: 0;
    }
    .course-row {
        align-items: start;
        column-gap: 0.5rem;
    }
    #course-grid :is(h2, p) {
        font-size: 0.8rem;
    }
}